html,body{
    font-family: arial;
    font-size: 14px;
}
.product_list__container {
    padding: 0 10%;
}

.product_item {
    padding: 24px 130px 24px 24px;
    position: relative;
    border: solid 1px #f2f2f2;
}

.product_item > table {
    width: 100%;
}

tr td:nth-of-type(1) {
    width: 300px;
}

tr td:nth-of-type(2) {
    padding: 0 0 0 60px;
    vertical-align: baseline;
}

.product-img {
    border-radius: 6px;
    width: 265px;
    height: 265px;
    border: solid 1px #8bd9ff;
    padding: 17px;
    text-align: center;
}

.product-img > img {
    max-width: 265px;
    max-height: 265px;

}

.product-title {
    margin-top: 34px;
}

.shop-name {
    margin-top: 28px;

}

.item-btn {
    position: absolute;
    top: 47px;
    cursor: pointer;
}

.btn-bookmark {
    right: 33px;
}

.btm-text-edit {
    right: 99px;
}
.shop-img{
    poposition: absolute;
    right: 423px;
}
.item-price{
    margin-top: 126px;
    position: absolute;
    font-family: Arial;
    font-size: 27px;
    font-weight: bold;
}
.item-price-low{
    margin-top: 126px;
    position: absolute;
    right: 767px;
}
.item-price-lightning{
    margin-top: 126px;
    position: absolute;
    right: 731px;
}
.install {
    width: 228px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    background: #3cff26;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0;
    margin-top: 8px;
    position: absolute;
    right: 192px;
}
header{
    width: 100%;
    position: fixed;
    background: white;
    height: 50px;
    border: solid 1px #f2f2f2;
}

.bread-camps{
    padding-top: 100px
}
.logo_img{
    margin-top: 4px;
    position: absolute;
    left: 170px;
}
.bread-camps{
    padding-bottom: 20px;
    padding-top: 80px;
    padding-left: 178px;
}
